@media only screen and (max-width: 767px) {
    p,li,ol,ul,blockquote,code,table {
       font-size: 0.95rem;
    }
    h1 {
       font-size: 1.8em !important;
    }
    h2 { font-size: 1.65rem; }
    h3 { font-size: 1.35rem; }
    h4 { font-size: 1.2rem; }
    h5 { font-size: 1.1rem; }
    h6 { font-size: 1rem; }

}

